<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Document</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1, minimum-scale=1">
    <link rel="stylesheet" type="text/css" href="./css/reset.css" />
    <link rel="stylesheet" type="text/css" href="./css/style.css">
    <script src="./js/vue.min.js"></script>
    <script src="./js/jquery.min.js"></script>
    <script src="./js/md5.js"></script>
    <script src="./js/common.js"></script>
    
    <style type="text/css">
        [v-cloak]{
            display: none;
        }
    </style>
</head>
<body>
<div id="app">
    <div class="banner">
        <img :src="detailInfo.home_img">
    </div>
    <div class="count_box p_lr_20">
        <div class="count">
            <span><i v-cloak>{{detailInfo.view_nums}}</i>人查看</span>
            <span><i v-cloak>{{detailInfo.share_nums}}</i>人分享</span>
            <span><i v-cloak>{{detailInfo.join_nums}}</i>人参与</span>
        </div>
        <span class="gonglue" @click="show_GL"><i></i>砍价攻略</span>
    </div>
    <h4 class="title_name p20" v-cloak>{{detailInfo.title}}</h4>
    <div class="cut_off_line"></div> <!--分割线-->
    <div class="user_box p_lr_20">
        <div class="myCreat" @click="create_cut"shows>我要薅羊毛</div>
        <p class="cut_num">已有 <i v-cloak>{{detailInfo.cut_nums}}</i> 人砍价成功</p>
    </div>
    <div class="cut_off_line"></div> <!--分割线-->
    <div class="main">
        <div class="title">
            <i></i><span>活动现状</span><i></i>
        </div>
        <div class="content">
            <p class="item1">本次奖品共<i v-cloak>{{detailInfo.activity_stock}}</i>份，剩余<i>{{detailInfo.stock}}</i>份</p>
            <div class="item2">
                <p class="item2_1">距活动结束还剩：<i v-cloak>{{timeStamp.tian}}</i><span>天</span><i v-cloak>{{timeStamp.shi}}</i><span>时</span><i v-cloak>{{timeStamp.fen}}</i><span>分</span><i v-cloak>{{timeStamp.miao}}</i><span>秒</span></p>
                <p class="item2_2">可砍到的最底价：<i v-cloak>￥{{detailInfo.lower_price}}</i> 元     原价：<i v-cloak>￥{{detailInfo.price}}</i> 元</p>
            </div>
           <!--  <p class="item3">有没有一个去处， <br/>可以让宝妈轻松带娃， <br/>让宝宝玩的开心，又能有所收获？</p>
            <p class="item4">答案非<i>摇篮亲子共享社区</i>莫属 <br/>它是一个时尚遛娃的新去<br/><b>40+</b>国家高端教玩具无限畅玩<br/><b>6000+</b>精选双语绘本应有尽有</p>
            <div class="live_box">

            </div>
            <p class="item5">摇篮亲子共享社区<br/>源于中国母婴行业的引领者摇篮网<br/><b>20</b>年的不断创新和积累<br/>专为<b>0-6</b>岁宝宝精心设计<br/>满足孩子<i>玩乐、阅读、教育、</i><br/><i>社交、互动</i>等需求。</p>
            <p class="item6">一起来看看家长是如何评价的吧？</p> -->
            <p class="item3" v-html="detailInfo.content"></p>
        </div>
        <div class="title">
            <i></i><span>活动规则</span><i></i>
        </div>

        <div class="guize" v-html="detailInfo.rules_content"></div>
       <!--  <ul class="guize">
            <li><i>1.</i><span> 点击活动链接，即可参与活动；</span></li>
            <li><i>2.</i><span> 本活动仅限有0~6岁宝宝家庭参与；</span></li>
            <li><i>3.</i><span> 无论使用多少个帐号，砍价最低只能到底价；</span></li>
            <li><i>4.</i><span> 本次活动不可与店内其他优惠、活动重叠使用；</span></li>
            <li><i>5.</i><span> 温馨提示：价格砍掉多少优惠多少，参与砍价的家长朋友可以凭砍价手机截屏，在2018年10月31日前到摇篮亲子共享社区凯德太阳宫门店使用。</span></li>
            <li><i>6.</i><span> “0元狂砍VIP亲子畅玩卡”砍价活动官方客服微信</span></li>
            <li><i>7.</i><span> 本活动最终解释权归“摇篮亲子共享社区”所有。</span></li>
        </ul> -->
        <div class="title">
            <i></i><span>砍价排行榜</span><i></i>
        </div>
        <ul class="cut_list" :class="{'maxh':hide_h,'hauto':show_h}">
            <li class="cut_list_header">
                <span class="ranking">排名</span><span class="nick">姓名</span><span class="price">当前价格</span>
            </li>
            <li v-for="(item,index) in detailInfo.all_top">
                <span class="ranking" :class="{'first':index+1 == 1,'second':index+1 == 2,'third':index+1 == 3}"><i>{{index+1}}</i></span><span class="nick"><i :style="'background-image:url('+item.user_avatar+')'"></i>{{item.user_name}}</span><span class="price">{{item.price}}元</span>
            </li>
           
            
        </ul>
        <p class="showAll" v-if="hide_h" @click="show_all">查看全部排行榜<i></i></p>
        <p class="showAll" v-else @click="hide_all">收起全部排行榜<i class="up"></i></p>
    </div>

    <div class="cut_success_box" v-if="showMask" @touchmove.prevent>
        <span class="icon_share"></span>

        <div class="cut_success" v-if="show_help_cut">
            <span class="icon_close" @click="close_help"></span>
            <span class="cut_success_bj"></span>
            <p>您已经成功为TA砍了<i v-cloak>{{cut_price}}元</i></p>
            <div class="cut_btn" style="margin-top: 29px;">
                 <span class="yellow_bj" @click="create_cut">我也要薅羊毛</span>
            </div>
        </div>

        <div class="cut_success" style="padding-top: 2.65rem;" v-if="showCreatCut">
            <span class="icon_close"  @click="close_help"></span>
            <span class="cut_success_bj"></span>
            <p style="line-height: 36px;">创建成功，并且自砍一刀，<br/>赚了<i>{{self_cut_price}}元</i></br>分享给好友，砍多少便宜多少</p>
            <b class="small_tip">小技巧：分享到群聊，效果更好</b>
        </div>
    </div>

    <div class="gonglue_box" v-show="is_show_GL" @touchmove.prevent>
        <div class="gonglue_content">
            <span class="icon_close" @click="hide_GL"></span>
            <h4>砍价攻略</h4>
            <p>为感谢广告消费者对摇篮亲子共享社区的支持和热爱，摇篮亲子共享社区为消费者提供免费领取商品的福利，消费者可以通过参与0元狂砍vip亲子畅玩卡活动获得商品。0元狂砍vip亲子畅玩卡活动内不涉及任何支付行为，请广大消费者放心参与。</p>
            <p>选择0元狂砍vip亲子畅玩卡商品，邀请好友一起砍价，只要在规定时间内价格砍到0元就可以免费获得商品，所有商品成本由摇篮亲子共享社区承担。</p>
            <p>您可以通过以下方式更便捷的免费拿商品分享到群聊，邀请更多好友帮你砍价</p>
        </div>
    </div>
</div>

<script type="text/javascript">
        window.onload = function(){
            // console.log(url);
            new Vue({
                el:'#app',
                data:{
                    is_show_GL:false,
                    showMask:false,
                    show_help_cut:false,
                    showCreatCut:false,
                    detailInfo:{},
                    timeStamp:{},
                    userinfo:{},
                    cut_price:'',
                    self_cut_price:'',
                    userId:islogin() == 1?JSON.parse(sessionStorage.getItem('loginState')).userId:'',
                    id:'1300000000004658',
                    share_userid:'153665287169942902',

                    hide_h:true,
                    show_h:false,
                },
                created:function(){
                    var detail_get_url = url+'/sharecenter/v1/haggle/shows';
                    var that = this;
                    // var userId = islogin() == 1?JSON.parse(sessionStorage.getItem('loginState')).userId:'';
                    $.ajax({
                        url:detail_get_url,
                        data:{
                            token:Token(detail_get_url),
                            timestamp:timeStamp(),
                            app_dt:'web',
                            id:that.id,
                            share_userid: that.share_userid,
                            app_userid:that.userId
                        },
                        type:'GET',
                        dataType:'json',
                        success:function(res){
                            // console.log(res);
                            if(res.code == 1){
                                that.detailInfo = res.data;
                                that.userinfo = res.data.userinfo;
                                var endTime = new Date(res.data.activity_endtime.replace(/-/g,"/")).getTime() + 1000;
                                var interval = null;
                                that.timeStamp =  {
                                    tian: Math.floor(endTime / 1000 / 60 / 60 / 24)<10?'0'+Math.floor(endTime / 1000 / 60 / 60 / 24):Math.floor(endTime / 1000 / 60 / 60 / 24),
                                    shi: Math.floor(endTime / 1000 / 60 / 60 % 24)<10?'0'+Math.floor(endTime / 1000 / 60 / 60 % 24):Math.floor(endTime / 1000 / 60 / 60 % 24),
                                    fen: Math.floor(endTime / 1000 / 60 % 60)<10?'0'+Math.floor(endTime / 1000 / 60 % 60):Math.floor(endTime / 1000 / 60 % 60),
                                    miao: Math.floor(endTime / 1000 % 60)<10?'0'+Math.floor(endTime / 1000 % 60):Math.floor(endTime / 1000 % 60)
                                }
                                that.$nextTick(function(){
                                    interval = setInterval(function () {
                                        var syhm = endTime - Date.now(); // 剩余毫秒
                                        if (syhm >= 0) {
                                            // tian.innerText = Math.floor(syhm / 1000 / 60 / 60 / 24);
                                            // shi.innerText = Math.floor(syhm / 1000 / 60 / 60 % 24);
                                            // fen.innerText = Math.floor(syhm / 1000 / 60 % 60);
                                            // miao.innerText = Math.floor(syhm / 1000 % 60);
                                            that.timeStamp =  {
                                                tian: Math.floor(syhm / 1000 / 60 / 60 / 24)<10?'0'+Math.floor(syhm / 1000 / 60 / 60 / 24):Math.floor(syhm / 1000 / 60 / 60 / 24),
                                                shi: Math.floor(syhm / 1000 / 60 / 60 % 24)<10?'0'+Math.floor(syhm / 1000 / 60 / 60 % 24):Math.floor(syhm / 1000 / 60 / 60 % 24),
                                                fen: Math.floor(syhm / 1000 / 60 % 60)<10?'0'+Math.floor(syhm / 1000 / 60 % 60):Math.floor(syhm / 1000 / 60 % 60),
                                                miao: Math.floor(syhm / 1000 % 60)<10?'0'+Math.floor(syhm / 1000 % 60):Math.floor(syhm / 1000 % 60)
                                            }
                                        } else {
                                            clearInterval(interval);
                                        }
                                    }, 0);
                                })
                            }
                        }
                    })
                },  
                methods:{
                    show_all:function(){
                        this.hide_h = false;
                        this.show_h = true;
                    },
                    hide_all:function(){
                        this.hide_h = true;
                        this.show_h = false;
                    },
                    show_GL(){
                        this.is_show_GL = true;
                    },
                    hide_GL(){
                        this.is_show_GL = false;
                    },
                    
                    close_help(){
                        this.showCreatCut = false;
                        this.show_help_cut = false;
                        this.showMask = false;
                    },
                    create_cut:function(){
                        if(islogin() == 1){
                            var create_get_url = url+'/sharecenter/v1/haggle/create';
                            var that = this;
                            $.ajax({
                                url:create_get_url,
                                data:{
                                    token:Token(create_get_url),
                                    timestamp:timeStamp(),
                                    app_dt:'web',
                                    id:that.id,
                                    app_userid:that.userId
                                },
                                type:'POST',
                                dataType:'json',
                                success:function(res){
                                    console.log(res);
                                    if(res.code == 1){
                                        that.showMask = true;
                                        that.showCreatCut = true;
                                        that.show_help_cut = false;
                                        that.self_cut_price = res.data.price;
                                        
                                    }else{
                                        alert(res.msg);
                                        that.close_help();
                                    }
                                }
                            })
                        }else{
                            back_url()
                        }
                    }
                
                }
                
            })
        }
   
</script>
</body>
</html>